<!doctype html>
<html ng-app="acme">
<head>
  <title>click-selector • Acme demos</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top:3em">

      <div ng-controller="AcmeController as actrl" class="well col-sm-offset-2 col-sm-8">
        <input type="text" ng-model="data.name" autofocus />
        <p>Hello <strong>{{data.name}}</strong></p>
        <button ng-click="actrl.setName('Betty Lee')" class="btn btn-info">set name(betty)</button>

      </div>

    </div>
  </div>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="click-selector.js"></script>
</body>
</html>
